@font-face {
  font-family: "open sans";
  font-style: normal;
  src: local('OpenSans-Regular');
}

@font-face {
    font-family: "open sans";
    font-style: bold;
    src: local('OpenSans-Bold');
}

a:link,
a:visited {
  text-decoration: underline;
  color: black;
}

a:hover {
    color: orange;
}

h1 {
  font-size: 60px;
  margin: 20px;
  text-align: center;
}

h2 {
  font-size: 20px;
  margin: 0;
  text-align: center;
}

h5 {
  font-size: 20px;
  margin: 0;
  text-align: center;
}

ul {
  margin: 5px;
  list-style-type: square;
}

body {
  font-family: "open sans";
}

.profilePages {
  font-size: 20px;
  transition: 0.7s;
}

.profilePages:hover {
  color: orange;
}

.pages {
  font-size: 20px;
  transition: 0.7s;
}

.pages:hover {
  font-size: 25px;
  color: orange;
}

.center {
  border: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.menu {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  align-content: space-between;
  gap: 10px;
}

table, th, td {
    border: 1px solid black;
    border-collapse:collapse;
}

tr:hover {background-color: #D6EEEE;}

th {
    background-color: #d3d3d3;
}

td {
    padding: 0px 35px;
}

.linear-wipe {
  text-align: center;
  background: linear-gradient(
        to right,
        #7953cd 20%,
        #00affa 30%,
        #0190cd 70%,
        #764ada 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
}

@keyframes textShine {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
}

/* CSS */
.button-6 {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}
